{% extends 'base.html' %}
{% block title %} Monie Security{% endblock title %}
{% block content %}
<main>
    <div class="container col-8">


        <div class="row flex-grow-1 overflow-hidden pb-2 h-100">
            <div class="col h-100 d-flex" id="chatView">
                <div class="flex-column h-100 w-100 d-flex" id="chatMode">


                    {% include 'incs/alerts.html' %}

                    <div class="card">

                        <div class="modal-header">
                            <h5 class="modal-title">Banca . Advanced Pay {{r}}</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <!-- <span aria-hidden="true" class="text-bold">×</span> -->
                            </button>
                        </div>

                        <div class="card-body">

                            <section>

                                <div class="container py-5">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-9 col-lg-7 col-xl-8">

                                            <form class="row g-3" action="{{url_for('pay.initiate')}}" id="paymentF" method="post">

                                                <div class="card">

                                                    <img src="{{ url_for('static', filename='img/favicon/favicon.svg')}}"
                                                        class="card-img-top w-20 h-16" alt="logo" />

                                                    <div class="card-body">
                                                        <div class="card-title d-flex justify-content-between mb-0">
                                                            <p class="text-muted mb-0">{{current_user.username|capitalize or "Chris Jsmes"}}</p>
                                                            <p class="mb-0">{{amt}}</p>
                                                        </div>
                                                    </div>

                                                    <div class="rounded-bottom">
                                                        <div class="card-body ">
                                                            <h5 class="mb-4">Bank Account Email For Payment Receipt</h5>
                                                            <div class="form-group mb-4">
                                                                {{ form.email.label(value="{{current_user.email or ''}}", class="form-control-label",  placeholder="Email For Receipt Of Payments") }}
                                                                {% if form.email.errors %}
                                                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                                                    <div class="invalid-feedback">
                                                                        {% for error in form.email.errors %}
                                                                            <span>{{ error }}</span>
                                                                        {% endfor %}
                                                                    </div>
                                                                {% else %}
                                                                    {{ form.email(class="form-control form-control-lg") }}
                                                                {% endif %}
                                                                {{form.amt()}}
                                                            </div>

                                                        </div>

                                                        <button type="submit" class="btn btn-primary btn-block">
                                                            Authorize Payment</button>

                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </section>
                            <!-- Credit card form -->

                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</main>

{% endblock content %}