<script src="{{url_for('static', filename='js/backend-bundle.min.js')}}"></script>
<!-- Table Treeview JavaScript -->
<script src="{{url_for('static', filename='js/table-treeview.js')}}"></script>
<!-- Chart Custom JavaScript -->
<script src="{{url_for('static', filename='js/customizer.js')}}"></script>
<!-- Chart Custom JavaScript -->
<script async src="{{url_for('static', filename='js/chart-custom.js')}}"></script>
<!-- app JavaScript -->
<script src="{{url_for('static', filename='js/app.js')}}"></script>

<script>
    switchtab = () => { $('#pills-generate-tab').trigger('click'); }
    switchtab1 = () => { $('#pills-expenses-tab').trigger('click'); }

    //set csr token in every ajax requests once here to avoid bad request-error(s)
    var csrf_token = "{{ csrf_token() }}"; // get the token from the template
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader('X-CSRFToken', csrf_token); // set the header with the token
        }
    }
    });

    // notification.js
    document.addEventListener('DOMContentLoaded', function() {
        const badgeCount = document.getElementById('badge-count');
        const notificationList = document.getElementById('notification-list');
        const notificationDropdown = document.getElementById('notification-dropdown');

        function updateBadge(count) {
            badgeCount.textContent = count;
            badgeCount.style.display = count > 0 ? 'inline' : 'none';
        }

        function updateDropdown(notifications) {
            notificationList.innerHTML = '';

            if (notifications.length === 0) {
                notificationList.innerHTML = '<li>No new notifications</li>';
            } else {
                notifications.forEach(notification => {
                    const li = document.createElement('li');
                    li.textContent = notification.message;
                    notificationList.appendChild(li);
                    console.log(notificationList)
                });
            }
        }

        function fetchNotifications() {
            fetch('/get_notifications/api')
                .then(response => response.json())
                .then(data => {
                    if (data){
                    updateBadge(data.notifications.length);
                    updateDropdown(data.notifications);
                    alert(JSON.stringify(data))
                    }else{
                        console.log(data.notifications)
                    }
                })
                .catch(error => {
                    console.error('Error fetching notifications:', error);
                });
        }

        fetchNotifications();
        setInterval(fetchNotifications, 60000); // Fetch notifications every minute (adjust as needed)
    });

</script>
