{% extends 'base.html' %}
<title>{% block title %}Film supply {% endblock title %}</title>
{% block page_css %}
<link rel="stylesheet" href="./static/css/page-auth.css">
{% endblock page_css %}

{% block content %}
{#
<form class="form-wrap" method="post" action="">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-lg-12">
      <div class="floating-label form-group">
        {% if form.signin.errors %}
        {{ form.signin(class="floating-input form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.signin.errors %}
          <span class="link">{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.signin(class="floating-input form-control", placeholder=" ") }}
        {% endif %}
        <label>Username, Email or Phone</label>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="floating-label form-group">
        {% if form.password.errors %}
        {% for error in form.password.errors %}<div class="link">{{ error }} !</div>{% endfor %}
        {% else %}
        {{ form.password(class="floating-input form-control", placeholder=" ")}}
        {% endif %}

        <label>Password</label>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="custom-control custom-checkbox mb-3">
        {{ form.remember(class="custom-control-input") }}
        {{ form.remember.label(class="custom-control-label control-label-1") }}
      </div>
    </div>
    <div class="col-lg-6">
      <a tabindex="0" class="text-primary float-right" role="button" data-toggle="popover" data-trigger="focus"
        title="what to do!" data-content="we're sorry you forgot ur logins, kindly reach-out to admin for assistance. "
        data-original-title="Dismissible popover">Forgot Password?</a>
    </div>
  </div>

  <button type="submit" class="btn col-12 btn-primary">Log-in Now</button>

  <p class="mt-0">
    {% include 'incs/alerts.html' %}
    Not registered yet..? <a href="{{url_for('auth.signup')}}" class="text-primary">click here to sign-up</a>
  </p>
</form>
#}


<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">

                <img src="./static/img/favicon/favicon.png" class="rounded img-responsive" alt="">

              </span>
              <span class="app-brand-text demo text-body fw-bold">Film Supply</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Welcome to Film Supply! 👋</h4>
          <p class="mb-4">Please sign-in to your account and start the adventure</p>

          <form id="formAuthentication" class="mb-3 fv-plugins-bootstrap5 fv-plugins-framework" action="" method="POST">
            
            <div class="mb-3 fv-plugins-icon-container">
              <label for="email-username-phone" class="form-label">Email or Username</label>
              <input type="text" class="form-control" id="email-username-phone" name="email-username-phone"
                placeholder="Enter your email or username or phone" autofocus="">
            </div>


            <div class="mb-3 fv-plugins-icon-container">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password"
                placeholder="Enter your email or username or phone" autofocus="">
            </div>
            
            <div class="mb-3 form-password-toggle fv-plugins-icon-container">
              
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
                <a href="auth-forgot-password-basic.html">
                  <small>Forgot Password?</small>
                </a>
              </div>

              <div class="input-group input-group-merge has-validation">
                <input type="password" id="password" class="form-control" name="password" placeholder="············" aria-describedby="password">
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>


            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me" control-id="ControlID-3">
                <label class="form-check-label" for="remember-me">
                  Remember Me
                </label>
              </div>
            </div>

            <div class="mb-3">
              <button class="btn btn-outline-warning d-grid w-100" type="submit">Sign in</button>
            </div>

          </form>

          <p class="text-center">
            <span>New on our platform?</span>
            <a href="{{url_for('auth.signup')}}">
              <span>Create an account</span>
            </a>
          </p>

          <div class="divider my-4">
            <div class="divider-text">or</div>
          </div>

          <div class="d-flex justify-content-center">
            <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
              <i class="tf-icons bx bxl-facebook"></i>
            </a>

            <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
              <i class="tf-icons bx bxl-google-plus"></i>
            </a>

            <a href="javascript:;" class="btn btn-icon btn-label-twitter">
              <i class="tf-icons bx bxl-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>

{% endblock content %}