{% extends 'base.html' %}
{% block title %} Film supply {% endblock title %}

{% block content %}

<div class="wrapper">
    {% include 'incs/topnav.html' %}
    <div class="content-page">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-transparent card-block card-stretch card-height border-none">
                        <div class="card-body p-0 mt-lg-2 mt-0">
                            <h3 class="mb-3" id="greet">Hi {{current_user.username}},</h3>
                            <p class="mb-0 mr-4 text-warning">
                                We keep track of key performance, business process &
                                Statistics.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">

                        <div class="col-lg-4 col-md-4">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-4 card-total-sale">
                                        <div class="icon iq-icon-box-2 bg-info-light">
                                            <img src="{{url_for('static', filename='images/product/1.png')}}"
                                                class="img-fluid" alt="image">
                                        </div>
                                        <div>
                                            <b class="mb-2">Identification</b>
                                        </div>
                                    </div>
                                    <button class="btn btn-secondary rounded-pill mt-2" 
                                    data-toggle="modal" data-user-id="{{ current_user.id }}"
                                    data-target="#idcard_moal">
                                        Click to view/download</button>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-4">
                            <div class="card card-block card-stretch card-height">

                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-4 card-total-sale">
                                        <div>
                                            <b class="mb-2">Total Attendance</b>
                                            <h4 id="totalAttendance">0</h4>
                                        </div>
                                    </div>

                                    <div class="custom-control custom-switch custom-switch-xl">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch8" checked>
                                        <label class="custom-control-label" for="customSwitch8"> </label>
                                    </div>
                                    <b id="attendance-text" class="text-secondary">Switch to clock out</b>
                                </div>
                                <div id="message" class="mt-3"></div>
                            </div>
                        </div>
                        {% for role in current_user.role %}
                        {% if role.type in ["admin", "staff", "instructor"] %}
                        <div class="col-lg-4 col-md-4">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-4 card-total-sale">
                                        <div class="icon iq-icon-box-2 bg-info-light">
                                            <img src="{{url_for('static', filename='images/product/1.png')}}"
                                                class="img-fluid" alt="image">
                                        </div>
                                        <div>
                                            <b class="mb-2">Assigned tasks</b>
                                        </div>
                                    </div>
                                    <button class="btn btn-secondary rounded-pill mt-2" data-toggle="modal" 
                                    data-target="#taskModalScrollable">
                                        Click to view | 34</button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-------->
            </div>
            <!-- Page end  -->
        </div>
        
        <div class="container-fluid">
                <!-- Add this HTML snippet to your template file for adding and updating tasks -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h4 class="mb-3">Daily Task Record(s)</h4>
                                <p class="mb-0 text-warning">Filter-by date to see tasks marked for each day(s)</p>
                            </div>
                            <button id="add-task-button" class="btn btn-primary add-list">
                                <i class="las la-plus mr-3"></i>Record Task(s)
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive rounded mb-3">
                            <table id="DataTables_Table_0" class="data-table table mb-0 
                            tbl-server-info">
                            {# note: `data-table` adding `s` will make cause the search bar to hide, yet to debug this #}
                            {#
                                <table class="data-tables table mb-0 tbl-server-info dataTable 
                                no-footer" id="DataTables_Table_0" role="grid" 
                                aria-describedby="DataTables_Table_0_info">#}

                                <thead class="bg-white text-uppercase">
                                    <tr class="ligth ligth-data">
                                        <th>S/N</th>
                                        <th>Tasks</th>
                                        <th>Status</th>
                                        <th>Time Stamp</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                
                                <tbody id="task-table-body" class="ligth-body">

                                    <tr id="original-task-row" class="d-none">
                                        <td></td>
                                        <td>
                                            {% for role in current_user.role  %}
                                            {% if role.type == "student" %}
                                            <input id="assigned_task_select" type="text" class="form-control" 
                                            placeholder="What did you learn today?"> 
                                            {% else %}
                                            <select id="assigned_task_select" class="custom-select">
                                            {% for task in assigned_tasks_list %}
                                                <option value="{{task.detail}}">{{task.detail}}</option>
                                            {% endfor %}
                                            </select>
                                            {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <select id="assigned_task_status"  class="custom-select">
                                                <option value="pending" selected>Pending</option>
                                                <option value="completed">Completed</option>
                                                <option value="on-going">On-going</option>
                                                <option value="stucked">Stucked</option>
                                                <option value="cancelled">Cancelled</option>
                                            </select>
                                        </td>
                                        <td><input type="date" class="form-control"></td>
                                        <td>
                                            <button class="btn btn-success" onclick="saveNewTask(this)">
                                                <i class="las la-plus mr-0"></i>
                                            </button>
                                            <button class="btn btn-warning" onclick="removeNewTaskRow(this)">
                                                <i class="ri-delete-bin-line mr-0"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    {% for task in tasks_list %}
                                    <tr>
                                       
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            <input type="text" value="{{task.description}}" 
                                            data-task-id="{{task.id}}" onchange="updateTask(this)" class="form-control" 
                                            placeholder="New task description"> 
                                        </td>
                                        <td>
                                            <select class="custom-select" data-task-id="{{task.id}}" 
                                            onchange="updateTask(this)">
                                                {% for status in status_options %}
                                                <option value="{{ status }}" {% if task.status == status %} 
                                                selected {% endif %}>
                                                    {{ status|title }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <input type="date" class="form-control"
                                            value="{{ task.timestamp }}" data-task-id="{{task.id}}" onchange="updateTask(this)"> 
                                        </td>
                                        <td>
                                            <button class="btn btn-warning" onclick="deleteTask({{ task.id }}, this)">Delete</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <!-- Existing task rows will go here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>

    </div>

</div>

<!-- - modals---->
{% include "incs/response_modal.html" %}
{% include "incs/assigned_tasks_modal.html" %}
{% include "incs/attendance_modal.html" %}
{% include "incs/idcard_modal.html" %}
{% endblock content %}
{% block page_js %}

<script src="{{url_for('static', filename='js/libs/html2canvas.min.js')}}"></script>
<script src="{{url_for('static', filename='js/libs/jspdf.min.js')}}"></script>
<script src="{{url_for('static', filename='js/html2pdf.bundle.min.js')}}"></script>
<script src = "{{url_for('static', filename='js/assigned_task.js')}}"></script> 
{#<script src = "{{url_for('static', filename='js/attendance.js')}}"></script>#}
<script src = "{{url_for('static', filename='js/tasks.js')}}"></script>
<script>
/*
    function showCrudModal(message) {
        document.getElementById('crudModalBody').innerText = message;
        $('#crudModal').modal('show');
    }
    
    document.getElementById('add-task-button').addEventListener('click', function() {
        addTaskRow();
    });
    
    function addTaskRow() {
        const taskTableBody = document.getElementById('task-table-body');
        const originalRow = document.getElementById('original-task-row');
    
        const clonedRow = originalRow.cloneNode(true);
        clonedRow.id = '';  // Clear the id of the cloned row
        // clonedRow.style.visibility = '';  // Ensure the cloned row is visible
        // Assuming clonedRow is already defined somewhere in your code
        clonedRow.classList.remove("d-none");

    
        // Insert the new row at the top
        taskTableBody.insertBefore(clonedRow, taskTableBody.firstChild);
    
        // Update the serial number for the new row and subsequent rows
        updateSerialNumbers();
    }
    
    function saveNewTask(button) {
        
        const row = button.closest('tr');
        const description = row.querySelector('#assigned_task_select').value;
        const status = row.querySelector('#assigned_task_status').value;
        const timestamp = row.querySelector('input[type="date"]').value;
    
        if (!description) {
            let desc = row.querySelector('input[type="text"]');
            desc.style.border = "1px inset brown";
            desc.placeholder = "fill-out task description to continue";
            return;
        } 
    
        const task = {
            description: description,
            status: status,
            timestamp: timestamp
        };

        $.ajax({
            url: '/tasks',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(task),
            success: function(data) {
                if (data.success) {

                    showCrudModal('Task saved successfully');
                    // Hide the Save and Cancel buttons
                    row.querySelector('.btn-success').style.display = 'none';
                    row.querySelector('.btn-warning').style.display = 'none';
                    row.classList.remove('new-task-row');

                    // Update serial numbers
                    updateSerialNumbers();
    
                } else {
                    alert.text(data.error).addClass("alert-warning").removeClass("alert-success");
                }
            },
            error: function(xhr, status, error) {
                showCrudModal(error);
                console.error('Error:', error);
            }
        });
    }
    
    function updateSerialNumbers() {
        const taskTableBody = document.getElementById('task-table-body');
        const rows = taskTableBody.querySelectorAll('tr');
        rows.forEach((row, index) => {
            const serialCell = row.querySelector('td');
            if (serialCell) {
                serialCell.textContent = index + 1;
            }
        });
    }
    
    function removeNewTaskRow(button){
        const row = button.closest('tr');
        row.remove();
        updateSerialNumbers();
    }
    
    function updateSerialNumbers() {
        const taskTableBody = document.getElementById('task-table-body');
        const rows = taskTableBody.querySelectorAll('tr');
        rows.forEach((row, index) => {
            const serialCell = row.querySelector('td');
            if (serialCell) {
                serialCell.textContent = index + 1;
            }
        });
    }


    function updateTask(element) {
        const taskId = element.getAttribute('data-task-id');
        const row = element.closest('tr');
        const description = row.querySelector('input[type="text"]').value;
        const status = row.querySelector('select').value;
        const timestamp = row.querySelector('input[type="date"]').value;
    
        const task = {
            id: taskId,
            description: description,
            status: status,
            timestamp: timestamp
        };
    
        $.ajax({
            url: `/tasks/${taskId}`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(task),
            success: function(data) {
                if (data.success) {
                    showCrudModal(data.message);
                    console.log('Task updated successfully');
                } else {
                    showCrudModal( data.error );
                    console.error('Error updating task:', data.error);
                }
            },
            error: function(xhr, status, error) {
                showCrudModal( error );
                console.error('Error:', error);
            }
        });
    }
    
    function deleteTask(taskId, button) {
        const row = button.closest('tr'); // Capture the row element
        $.ajax({
            url: `/tasks/${taskId}`,
            type: 'DELETE',
            success: function(data) {
                if (data.success) {
                    showCrudModal('Task deleted successfully');
                    console.log('Task deleted successfully');
                    row.remove();
                } else {
                    showCrudModal( data.error );
                    console.error('Error deleting task:', data.error);
                }
            },
            error: function(xhr, status, error) {
                showCrudModal(error );
                console.error('Error:', error);
            }
        });
    }
*/

    /*
    function showMessage(message, type = 'success') {
        const messageDiv = document.getElementById('message');
        const attendanceText = document.getElementById('attendance-text');
        attendanceText.innerText = `${message}`;
    }
    */
    
    function checkStatus() {
        fetch('/attendance_status')
            .then(response => response.json())
            .then(data => {
                const switchControl = document.getElementById('customSwitch8');
                const attendanceText = document.getElementById('attendance-text');
                if (data.status === 'signed_in') {
                    switchControl.checked = true;
                    attendanceText.textContent = 'Switch to clock out';
                } else {
                    switchControl.checked = false;
                    attendanceText.textContent = 'Switch to clock in';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessage('An error occurred while checking status.', 'danger');
            });
    }

    function handleAttendance(isSigningIn) {
        const action = isSigningIn ? 'signin' : 'signout';

        fetch('/create_attendance', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ action: action })
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => { throw new Error(text); });
                }
                return response.json();
            })
            .then(data => {
                //showMessage(data.message);
                //const attendanceText = document.getElementById('attendance-text');
                if (isSigningIn) {
                    //attendanceText.textContent = 'Switch to clock out';
                    showMessage(data.message, 'danger');
                } else {
                    //attendanceText.textContent = 'Switch to clock in';
                    showMessage(data.message, 'danger');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessage('An error occurred: ' + error.message, 'danger');
            });
    }

    document.addEventListener("DOMContentLoaded", function () {

        checkStatus();

        document.getElementById('customSwitch8').addEventListener('change', function () {
            handleAttendance(this.checked);
        });
    });

    document.addEventListener("DOMContentLoaded", function () {

        checkStatus();

        document.getElementById('customSwitch8').addEventListener('change', function () {
            handleAttendance(this.checked);
        });
    });

    function getTotalAttendance() {
        fetch('/total_attendance')
            .then(response => response.json())
            .then(data => {
                const totalAttendanceDiv = document.getElementById('totalAttendance');
                totalAttendanceDiv.textContent = `${data.total_attendance} days`;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    document.addEventListener("DOMContentLoaded", function () {
        getTotalAttendance();
    });

    function loadUserIdCard(userId) {
        $.ajax({
          url: `/user/${userId}/id-details`,  // Adjust the URL to match your backend route
          type: 'GET',
          success: function(data) {
            console.log(data)
            if (data.success) {
              $('#student-photo').attr('src', `/static/images/user/${data.user.photo || '1.png'}`);
              $('#student-name').text(data.user.name);
              $('#student-reg-num').append(` `+ data.user.reg_num);
              $('#student-course').append(` `+ data.user.course || '. . .');
              $('#student-batch').append(` `+ data.user.batch || '. . .'); // Assuming batch data is available
              $('#student-email').append(` `+ data.user.email);
              $('#student-phone').append(` `+ data.user.phone);
            } else {
              console.error('Failed to load user ID details:', data.error);
            }
          },
          error: function(xhr, status, error) {
            console.error('Error:', error);
          }
        });
      }
      
      // Example usage
      
      $(document).ready(function() {
        const userId = {{ current_user.id }}; // Adjust this to the current user's ID dynamically
        loadUserIdCard(userId);
      }); 
      // Trigger the loadUserIdCard function when the modal is shown
       /* $('#idcard_modal').on('shown.bs.modal', function (e) {
            alert(true)
            const userId = $(e.relatedTarget).data('user-id');  // Assuming the triggering element has a data-user-id attribute
            loadUserIdCard(userId);
        });*/
      
    /*
    $('#download-id-card').on('click', function() {
        // without margin around it.
        $(this).html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
        html2canvas(document.querySelector('.id-card'), {
            onrendered: function(canvas) {
                var imgData = canvas.toDataURL('image/png');
                
                var pdf = new jsPDF({
                    orientation: 'portrait',
                    unit: 'px',
                    format: [canvas.width, canvas.height]
                });
                
                pdf.addImage(imgData, 'PNG', 0, 0, canvas.width, canvas.height);
                pdf.save('id_card.pdf');
            }
        });
    }); */
    $('#download-id-card').on('click', function() {
        var $this = $(this);
        $this.html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');

        html2canvas(document.querySelector('.id-card')).then(function(canvas) {
            var imgData = canvas.toDataURL('image/png');
            var pdf = new jsPDF({
                orientation: 'portrait',
                unit: 'px',
                format: [canvas.width, canvas.height]
            });
            
            pdf.addImage(imgData, 'PNG', 0, 0, canvas.width, canvas.height);
            pdf.save('id_card.pdf');

            $this.html('Download');
        }).catch(function(error) {
            console.error('Error generating ID card:', error);
            $this.html('Download ID Card');
        });
    });

    /*
    $('#download-id-card-0').on('click', function() {
        // with some margin around it
        html2canvas(document.querySelector('.id-card')).then(function(canvas) {
            var imgData = canvas.toDataURL('image/png');
            var imgWidth = canvas.width;
            var imgHeight = canvas.height;
            var margin = 10; // Margin size in pixels

            var pdf = new jsPDF({
                orientation: 'portrait',
                unit: 'px',
                format: [imgWidth + 2 * margin, imgHeight + 2 * margin]
            });

            pdf.addImage(imgData, 'PNG', margin, margin, imgWidth, imgHeight);
            pdf.save('id_card.pdf');
        });
    }); */

</script>

{% endblock page_js %}